a {
  text-decoration: none;
  color: #000000;
}

.footer {
  background-image: url(./footer1.png);
  box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px;
  position: bottom;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 200px;
}
.footer_all {
  background-color: rgba(9, 110, 0, 0.384);
  width: 100%;
}
.footer_information {
  font-size: 100%;
  font-weight: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.footer_top {
  font-family: "bread";
  display: inline-block;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  position: center;
  padding-bottom: 2%;
  width: 100%;
}
.footer_top__navigation {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
}

.footer_link {
  font-family: "bread";
  color: #fff;
  padding: 10px;
}
.footer_bottom {
  display: flex;
  display: row;
  display: inline-block;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 16px;
}
.footer_top:hover,
.footer_link:hover {
  color: #53aa02;
}
