/*Контейнер приветствия*/
.container_welcom {
  display: center;
  position: center;
  display: flex;
  height: 900px;
  width: 100%;
}
.invisible {
  position: absolute;
  padding-top: 13%;
  width: 100%;
  height: 103%;
  z-index: 2;
}
.overlayW {
  width: 100%;
  font-family: "bread";
  top: 0;
  display: center;
  position: sticky;
  color: white;
  text-align: center;
  padding-top: 5%;

  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: 2; /* Текст поверх видео */
}

/* Контейнер с видео*/
.container_description {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden; /* Скрываем выходящие за границы элементы */
}
/*Положение видео в контейнере*/
.container-description video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Заполняем контейнер, сохраняя пропорции */
  z-index: 1; /* Видео на заднем плане */
}
