#root {
  margin: 0 auto;
  text-align: center;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "bread" "Times New Roman", Times, serif;

  flex-direction: column;
}
footer {
  padding-bottom: 0;
  margin-top: auto; /* «прижимает» footer вниз */
}

/* сброс браузерных стилей */
h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
}
video {
  width: 100%;
}
